	/* USANDO FONTS DE GOOGLE
	https://www.google.com/fonts#QuickUsePlace:quickUse/Family:New+Rocker*/
	
	@import url(https://fonts.googleapis.com/css?family=New+Rocker);
	
	body {
	/* Margin , padding y top  para alinear mi contenido a la pantalla*/
	margin: 0;
	padding: 0;
	top: 0;
	font-family: 'New Rocker', cursive;
	}
	
	/* COLOR DEL FONDO*/
	#css-zen-garden {
	background-color: #F3A590;
	}
	
	.page-wrapper {
	
	}
	
	/* TIPOGRAFIA */
	/* font -weight para establecer el grosor con el que se muestran las letras del texto */
	h1 {
	font-size: 80px;
	font-weight: bold;
	}
	
	h2 {
	font-size: 40px;
	font-weight: bold;
	}
	
	h3 {
	font-size: 30px;
	font-weight: bold;
	padding: 2%;
	color: #8181F7;
	}
	
	p {
	font-size: 20px;
	padding: 0.5%;
	color: #443F45;
	}
	/* END TIPOGRAFIA */
	
	
	/* LINKS & UL LI */
	/* list-style-type le quita los . */
	ul {
	text-decoration: none;
	}
	
	ul li {
	text-decoration: none;
	list-style-type: none;
	}
	/* todos los a que tienen un link */
	a:link {
	text-decoration: none;
	color: #443F45;
	transition: all .5s ease 0;
	}
	
	a:visited {
	text-decoration: none;
	color: #443F45;
	}
	
	a:hover {
	color: #A7536B;
	}
	
	a:active {
	text-decoration: none;
	}
	/* FIN UL Y LI */
	
	
	/* INTRO */
	/* Las imagenes no se repiten y fixed lo adapta */
	header {
	background:url(img/header.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	width: 100%;
	margin-top: -80px;
	/*Crea espacios y margen*/
	padding: 30% 0 30% 0;
	text-align: center;
	}
	
	header h1 {
	color: #FFFFFF;
	/* Text shadow es para ponerle sombra es un efecto  http://www.w3schools.com/cssref/css3_pr_text-shadow.asp*/
	text-shadow: 4px 4px 4px #443F45;
	}
	
	header h2 {
	margin-top: -75px;
	/* blanco */
	color: #FFFFFF;
	text-shadow: 4px 4px 4px  #443F45;
	}
	}
	
	/* END INTRO */
	
	.summary {
	
	background-color: #FFFFFF;
	width:75%;
	margin: 5% auto 5% auto;
	text-align: center;
	color: #443F45;
	}
	
	
	
	/* PREAMBLE */
	.preamble {
	background:url(img/bandaderock.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	width: 100%;
	padding: 25% 0 25% 0;
	color: #443F45;
	}
	
	/* https://24ways.org/2009/working-with-rgba-colour */
	
	#zen-preamble h3 {
	text-align: center;
	background:rgba(255, 255, 255, 0.6);
	}
	
	#zen-preamble p {
	width: 75%;
	margin:0 auto 0 auto;
	background:rgba(255, 255, 255, 0.6);
	}
	
	#zen-summary p {
	width: 75%;
	margin:0 auto 0 auto;
	background:rgba(255, 255, 255, 0.6);
	}
	/* END PREAMBLE */
	
	
	/* EXPLANATION */
	.explanation {
	background:rgba(255, 255, 255, 0.6);
	width:75%;
	margin: 5% auto 5% auto;
	}
	
	.explanation h3 {
	text-align: center;
	}
	
	.explanation p {
	margin:0 auto 0 auto;
	}
	/* END EXPLANATION */
	
	
	/* PARTICIPATION */
	.participation {
	background: url(img/chicarock.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	width: 100%;
	padding: 25% 0 25% 0;
	color: #443F45;
	}
	
	.participation h3 {
	text-align: center;
	background:rgba(255, 255, 255, 0.6);;
	}
	
	.participation p {
	width: 75%;
	margin:0 auto 0 auto;
	background:rgba(255, 255, 255, 0.6);
	}
	/* END PARTICIPATION */
	
	
	/* BENIFITS */
	.benefits {
	width: 75%;
	margin:0 auto 0 auto;
	background:rgba(255, 255, 255, 0.6);
	}
	
	.benefits h3 {
	text-align: center;
	}
	
	.benefits p {
	margin:0 auto 0 auto;
	}
	/* END BENIFITS */
	
	
	/* REQUIRMENTS */
	.requirements {
	background: url(img/rockabajo.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	width: 100%;
	padding: 25% 0 25% 0;
	color: #443F45;
	}
	
	.requirements h3 {
	text-align: center;
	background:rgba(255, 255, 255, .6);
	}
	
	.requirements p {
	width: 75%;
	margin:0 auto 0 auto;
	background:rgba(255, 255, 255, .6);
	}
	/* END REQUIRMENTS */
	
	
	/* FOOTER */
	footer {
	margin:0 auto 0 auto;
	padding: 2%;
	text-align: center;
	width: 50%;
	word-spacing: 25px;
	}
	/* END FOOTER */
	
	/* SIDEBAR */
	.sidebar {
	text-align: center;
	}
	
	.design-selection {
	width:35%;
	float: left;
	}
	
	.design-archives {
	width:35%;
	float: left;
	margin:0 auto 0 auto;
	}
	
	.zen-resources {
	width: 20%;
	float: left;
	margin:0 auto 0 auto;
	}
	
	
	}
	/* END SIDEBAR */
